* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e8dcc0;
}


/* التصميم العام */

.layout {
  display: flex;
  min-height: 100vh;
}


/* القائمة الجانبية */

.sidebar {

  width: 260px;
  background: #0b1f3a;
  color: white;
  padding: 25px;

}


.sidebar h2 {

  text-align: center;
  margin-bottom: 40px;
  color: #d4af37;

}


.sidebar p {

  background: #b8860b;
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 15px;
  text-align: center;
  transition: 0.3s;

}


.sidebar p:hover {

  background: #d4af37;
  color: #0b1f3a;

}



/* المحتوى */

.content {

  flex: 1;
  padding: 30px;

}


/* الهيدر */

header {

  background: #d4af37;
  color: #0b1f3a;
  padding: 20px;
  border-radius: 15px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;

}



/* الكروت */

.card {

  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 15px #0002;

}
.dashboard {

  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;

}


.dashboard .card {

  text-align:center;
  background:white;
  border-top:5px solid #d4af37;
  padding:30px;
  border-radius:20px;

}


.dashboard h2 {

  font-size:40px;

}


.dashboard p {

  font-size:35px;
  color:#b8860b;
  font-weight:bold;

}